.banner{
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner::before{
    content: '';
    position: absolute;
    height: 28vh;
    width: 100%;
   transform-origin: bottom;
   background: #f1f1f1;
   z-index: 20;
   left: 0;
   bottom: 0%;
   clip-path: polygon(0% 100%,0% 0%, 180% 100%);
}

.banner-revers{
    height: 20vh;
    width: 100%;
   transform-origin: top;
   background: #f1f1f1;
   clip-path: polygon(100% 0%,0% 100%, 100% 100%);
}

.end-banner{
    height: 20vh;
    width: 100%;
   transform-origin: top;
   background: #f1f1f1;
   clip-path: polygon(0% 0%,0% 100%, 100% 0%); 
}


/* //==================================// */
/* Locomotive style and custom css */

.op-class{
    opacity: 0;
    transform: rotate(20deg);
  }
  .fadeIn {
    /* transform: rotate(0deg); */
    opacity: 1;
    transition: opacity 4s ;
  }

  @media screen and (max-width: 600px) and (min-width: 320px) {
    .op-class{
      opacity: 0;
      transform: rotate(0deg);
    }
    .fadeIn {
      /* transform: rotate(0deg); */
      opacity: 1;
      transition: opacity 4s ;
    }
  }
